# Contents of /etc/systemd/system/christmastree.service
# systemctl enable christmastree.service
# systemctl start christmastree.service

[Unit]
Description=Christmas Tree
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/christmastree

[Install]
WantedBy=multi-user.target
Alias=christmastree.service
